@import url('https://fonts.googleapis.com/css?family=Balthazar');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
@import "vars";
@import "colours";
@import "grid";

// reset
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    border-top: solid 5px $orange;
    background-color: $orange-bg;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 150px; // for the footer
}

img, .img {
    margin-bottom: $gutter * 3;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba($pure-black, 0.125);
}

.content, .info  {
    margin: 0 auto;
    padding: $layout-gutter;

    > img, > .img {
        width: 150%;
        margin-left: -25%;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    .content, .info {
        padding: $layout-gutter/2;
    }
}

.info {
    margin-left: -$layout-gutter/2;
    margin-right: -$layout-gutter/2;
    margin-bottom: $gutter * 2;
    background-color: $orange-bg;
    overflow: hidden;

    h2:first-of-type {
        margin-top: 0;
    }
}

.inset {
    max-width: 800px;
}

#map {
    height: 50vh;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    margin-top: $layout-gutter/2;
    padding: $layout-gutter/2 0;

    .quality {
        margin-top: -$layout-gutter/2;
        margin-bottom: $layout-gutter/2;
        padding: $gutter*2;
        color: $pure-black;
        background-color: $orange;
    }

    background-color: $black;
}

@import 'typography';
@import 'logo';
@import 'header';
@import 'image';
