{% extends "layout.njk" %}

{% block title %} Wireless Security {% endblock %}

{% block description %} Leading PCB Contract Manufacturer in the forefront of design, manufacturing and integration of security, telecoms and industrial control products {% endblock %}

{% block content %}

    <div class="content inset">
        <h1>The AV2200 in a class of its own</h1>

        <p class="lede">Mercury have pioneered and designed the AV2200 for domestic and commercial protection which surpasses all generic security products. The wireless design eliminates the need for complex installation and unsightly wiring. </p>

        <div class="img alarm"></div>

        <p>The AV2200 is stylish and simple, manages and protects your property and gives you peace of mind. A verified and guaranteed response ensures ignored and false alarms are a thing of the past. The single unit detects events and alerts before intrusion reporting them to a <a href="monitoring.html">monitoring</a> station. A two-way conversation establishes a direct link for help and assistance in the event of fire, accident, injury or attack. In addition to emergency services, friends and relatives can be contacted. A unique feature of the AV2200, allows occupants and pets to roam freely around the premises whilst remaining armed, continually safeguarding against emergencies, even while you are asleep or away on holiday!</p>

        <p>For the elderly or those with disabilities the panic button enables an immediate response from the <a href="monitoring.html">monitoring</a> station to contact family, friends or medical emergency services.</p>
    </div>

{% endblock %}