{% extends "layout.njk" %}

{% block redirect %}

<script>
    window.location.href = 'products.html';
</script>

<noscript>
    <meta http-equiv="Refresh" content="1; url=products.html">
</noscript>

{% endblock %}