{% extends "layout.njk" %}

{% block title %} About Us {% endblock %}

{% block description %} Leading PCB Contract Manufacturer in the forefront of design, manufacturing and integration of security, telecoms and industrial control products {% endblock %}

{% block content %}

    <div class="content inset">
        <h1>About Us</h1>

        <p class="lede">Established in 1991 Mercury Safety &amp; Security Group Ltd have been providing PCB Design &amp; Manufacturing and complete box builds to leading companies throughout the UK.</p>

        <p>The Mercury Group is a major provider of manufacturing services within the Electronic industry. Our capabilities are comprehensive, supporting fast turn-around prototype manufacturer (24 hrs) through to medium volume production levels. We believe all our customers have a right to expect first-class manufacturing services, offering a comprehensive and cost effective range of services at competitive prices.</p>

        <p>We care about our customer's needs and that is why we develop products with the very latest technology in the industry.</p>

        <p>In understanding our customers we have been able to develop and improve our systems to reach new customers and exciting new markets.</p>
    </div>

{% endblock %}