{% extends "layout.njk" %}

{% block title %} PCB Contract Manufacturer {% endblock %}

{% block description %} Leading PCB Contract Manufacturer in the forefront of design, manufacturing and integration of security, telecoms and industrial control products {% endblock %}

{% block content %}

    <div class="content inset">
        <h1>We are a leading PCB Contract Manufacturer in the forefront of design, manufacturing and integration of security, telecoms and industrial control products.</h1>

        <p>Our products portfolio includes some of the most advanced and field proven technologies in the industry.</p>

        <p>We pride ourselves on offering a quality service. We understand what our customers requirements are and deliver the right solutions to meet their needs. Our key markets include electronic manufacturing, domestic and commercial security sectors.</p>

        <p>No contract is too large or too small. We are here to offer you the exact service you need. > Read More</p>
    </div>

    <div style="background-color: white;">
        <div class="content inset">
            <h2>About us</h2>
        </div>

        <div id="map"></div>

    </div>

{% endblock %}