{% extends "layout.njk" %}

{% block title %} Privacy Policy {% endblock %}

{% block description %} Leading PCB Contract Manufacturer in the forefront of design, manufacturing and integration of security, telecoms and industrial control products {% endblock %}

{% block content %}

    <div class="content inset">
        <h1>Privacy Policy</h1>

        <p class="lede">Mercury will not collect personal information without informing the individual concerned. The information collected from this site will be used by Mercury to process orders and requests for information, provide services and develop this site and Mercury's services for the future.</p>

        <p>Mercury may also pass on information to visitors of this site about services that may be of interest to them. Where personal information is collected on this site, Mercury will give the individual concerned the option to indicate whether or not they wish their personal information to be used in this way. If an individual subsequently decides that they no longer wish their personal information to be used in this way, they should contact Mercury directly.</p>

        <p>Mercury may share or transfer non-personal information and statistics collected from this site with connected group companies or third parties. Personal information will not be shared or transferred without the individual's consent.</p>

        <p>A "cookie" is an element of data that a website can send to a browser which may then get stored on a computer. The cookie can be used to identify a repeat user to the site that placed the cookie on the computer. Cookies also can be used to track the user's movements from page to page, or within a single page of a website. Mercury Electronics uses cookies to enhance the navigation and functionality of this site, to securely verify identity, and to personalise aspects of a visitor's experience on this site. The visitor does not have control over cookies but may be able to set their browser to notify them when a cookie is being placed on their computer. For example, a visitor to this site will receive a cookie when they access this area. An individual may be able to set their browser software to not accept cookies at all. However, this may well affect the individual's ability to view certain areas and their ability to use certain tools and contents on this site.</p>

        <p>Mercury have put arrangements in place to permit visitors to this site to access sites of other organisations. Each organisation has their own privacy policy. Individuals are advised to read the privacy policies of all organisations' sites they visit. Mercury has no control over other organisations' web sites and when individuals click through to other sites, they leave the area controlled by Mercury. Mercury cannot accept any responsibility for matters arising from third parties, their sites or their use of information.</p>

        <p>Mercury may change this Policy from time to time. Any changes will be posted on this site and will take effect immediately.</p>
    </div>

{% endblock %}