{% extends "layout.njk" %}

{% block title %} Products &amp; Services {% endblock %}

{% block description %} Leading PCB Contract Manufacturer in the forefront of design, manufacturing and integration of security, telecoms and industrial control products {% endblock %}

{% block content %}

    <div class="content inset">
        <h1>Our Products &amp; Services</h1>

        <p class="lede">Whether you are looking for First-Class PCB Design and Assembly, Home Security or to protect thousands of pounds worth of commercial equipment, stock and other valuable items, we are here to offer our support.</p>

        <p>We specialize in design, manufacture and implementation of the very latest security systems. Our services include system design, integration, installation and maintenance services.</p>
    </div>

{% endblock %}