{% extends "layout.njk" %}

{% block title %} Products &amp; Services {% endblock %}

{% block description %} Leading PCB Contract Manufacturer in the forefront of design, manufacturing and integration of security, telecoms and industrial control products {% endblock %}

{% block content %}

    <div class="content inset">
        <h1>Our Products &amp; Services</h1>

        <p class="lede">Whether you are looking for First-Class PCB Design and Assembly, Home Security or to protect thousands of pounds worth of commercial equipment, stock and other valuable items, we are here to offer our support.</p>

        <p>We specialize in design, manufacture and implementation of the very latest security systems. Our services include system design, integration, installation and maintenance services.</p>
    </div>

    <div class="content">
        <div class="grid">
            <div class="col one-of-two">
                <div class="info">

                    <h2>PCB Design &amp; Assembly</h2>

                    <p>Mercury Safety &amp; Security provide contract manufacturing services with extensive engineering &amp; including PCB prototyping &amp; PCB assembly.</p>

                    <p><a href="pcb.html" title="More about PCB Design &amp; Assembly">Read more</a></p>

                </div>
            </div>

            <div class="col one-of-two">
                <div class="info">

                    <h2>CCTV Protection</h2>

                    <p>At Mercury we understand the financial concerns of your business or your property, that is why we have put together CCTV Packages which can be bought (interest-free) with monthly payments or leased from as little as £9 per week.</p>

                    <p><a href="cctv.html" title="More about CCTV Protection">Read more</a></p>

                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col one-of-two">
                <div class="info">

                    <h2>Wireless Security</h2>

                    <div class="img alarm"></div>

                    <p>Mercury have pioneered and designed the AV2200 for domestic and commercial protection which surpasses all generic security products. The wireless design eliminates the need for complex installation and unsightly wiring.</p>

                    <p><a href="av2200.html" title="More about Wireless Security">Read more</a></p>

                </div>
            </div>

            <div class="col one-of-two">
                <div class="info">

                    <h2>Biometrics</h2>

                    <p>Mercury provide your business with an intelligent Door Access Controller and integrated Fingerprint Scanner which includes a Proximity Reader and Keypad. The system is designed to meet an extremely high level of security, whilst remaining cost effective and user friendly. </p>

                    <a href="biometrics.html" title="More about Biometrics">Read more</a>

                </div>
            </div>
        </div>
    </div>




{% endblock %}