<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mercury Safety &amp; Security - {% block title %}{% endblock %}</title>
    {% block redirect %}{% endblock %}
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/lib/jquery.js"></script>
</head>
<body>

    <header>
        <div class="content">

            <a href="index.html" class="home-link bland">
                <span class="logo">
                    <span class="logo-icon"></span>
                    <span class="logo-text">Mercury</span>
                </span>
            </a>

            <span class="nav-trigger"></span>

            <nav>
              <ul>
                <li><a href="products.html">Products &amp; Services</a></li>
                <li><a href="company.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </nav>

        </div>
    </header>

    <main>

        {% block content %}{% endblock %}

    </main>

    <footer class="small">

        <div class="quality">
            Quality Assurance Guaranteed on&nbsp;all&nbsp;our&nbsp;products&nbsp;and&nbsp;services
        </div>

        <span class="copy">Copyright &copy; 2018 Mercury Safety &amp; Security - <a href="privacy.html">Privacy&nbsp;Policy</a></span>

    </footer>

    <script src="js/script.js"></script>

</body>
</html>